# Docker images
BACKEND_IMAGE=rahmabensaid/eprinting-backend:latest
FRONTEND_IMAGE=rahmabensaid/eprinting-frontend:latest
PRICING_API_IMAGE=rahmabensaid/pricing-epac-api:latest
MLFLOW_IMAGE=rahmabensaid/pricing-epac-mlflow:latest

# Ports
BACKEND_PORT=8080
FRONTEND_PORT=80
PRICING_API_PORT=8000
MLFLOW_PORT=5000
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# Database
MYSQL_DATABASE=eprinting_db
MYSQL_ROOT_PASSWORD=change_me
MYSQL_USER=eprinting_user
MYSQL_PASSWORD=change_me_app_password

# Spring datasource
SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/eprinting_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true&createDatabaseIfNotExist=true
SPRING_DATASOURCE_USERNAME=eprinting_user
SPRING_DATASOURCE_PASSWORD=change_me_app_password
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=false
SPRING_JPA_FORMAT_SQL=false
SPRING_SQL_INIT_MODE=never
SPRING_SQL_INIT_CONTINUE_ON_ERROR=false
SPRING_SQL_INIT_DATA_LOCATIONS=classpath:users_dump.sql,classpath:books_dump.sql

# App secrets
SECURITY_AUTHENTICATION_MODE=jwt
JWT_SECRET=replace_with_a_long_random_secret_key
JWT_EXPIRATION_SECONDS=86400
STRIPE_SECRET_KEY=replace_with_real_value_in_local_env_only
STRIPE_WEBHOOK_SECRET=replace_with_real_value_in_local_env_only
STRIPE_PUBLIC_KEY=replace_with_real_value_in_local_env_only
SHIPPO_API_BASE_URL=https://api.goshippo.com
SHIPPO_API_TOKEN=replace_with_real_value_in_local_env_only
SHIPPO_WEBHOOK_SECRET=
SHIPPO_TEST_MODE=true
SHIPPO_REAL_CARRIER_CONFIGURED=false
SHIPPO_DEFAULT_SERVICE=standard
SHIPPO_SENDER_FULL_NAME=EPAC Logistics
SHIPPO_SENDER_COMPANY=EPAC
SHIPPO_SENDER_COUNTRY=US
SHIPPO_SENDER_ZIP=10118
SHIPPO_SENDER_CITY=New York
SHIPPO_SENDER_STATE=NY
SHIPPO_SENDER_ADDRESS1=350 5th Avenue
SHIPPO_SENDER_ADDRESS2=Floor 20
SHIPPO_SENDER_PHONE=+12125550100
SHIPPO_SENDER_EMAIL=test@epac.local

# Pricing API
PRICING_API_BASE_URL=http://pricing-api:8000

# MLflow + MinIO
MLFLOW_POSTGRES_USER=mlflow_user
MLFLOW_POSTGRES_PASSWORD=change_me_mlflow
MLFLOW_POSTGRES_DB=mlflow_db
MLFLOW_S3_ACCESS_KEY=minioadmin
MLFLOW_S3_SECRET_KEY=change_me_minio_secret
MLFLOW_BUCKET_NAME=mlflow-artifacts
AWS_DEFAULT_REGION=us-east-1

# Windows host paths for mounted ML data
PRICING_SQL_DUMPS_HOST_PATH=C:/pricing/sql-dumps
PRICING_PROCESSED_DUMPS_HOST_PATH=C:/pricing/processed
PRICING_STATIC_HOST_PATH=C:/pricing/static
PRICING_CONSOLIDATED_HOST_PATH=C:/pricing/consolidated
PRICING_PROCESSED_DATA_HOST_PATH=C:/pricing/processed-data
PRICING_ENRICHED_HOST_PATH=C:/pricing/enriched
PRICING_FEATURES_HOST_PATH=C:/pricing/features
PRICING_RUNTIME_HOST_PATH=C:/pricing/runtime
PRICING_ARTIFACTS_HOST_PATH=C:/pricing/artifacts
